
<!DOCTYPE html>
<html lang="en" >

<head>

  <!-- cache busting -->
  {% assign min = 00 %}
  {% assign max = 100 %}
  {% assign diff = max | minus: min %}
  {% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}

  <title>Ralph McGehee's CIABASE</title>
  <link rel='stylesheet prefetch'
        href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css'>
  <link rel='stylesheet prefetch'
        href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'>
  <link rel='stylesheet prefetch'
        href='{{site.baseurl}}/dist/style.css?{{randomNumber}}'>

  <meta charset="UTF-8">
</head>
<body>

  <div class="container post">
